body{
    background: url(./img/background.jpeg);
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }

.cursor{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 100px;
    left: 100px;
    background-image: url(./img/marteau-removebg-preview.png);
    background-size: 100% 100%;
    transform: translate(20%, 20%);
    transition: transform .1s;
}

.cursor.active{
    transform: translate(20%, 20%) rotate(45deg);
}

  .container{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    width: 33%;
    height: auto;
    margin-top: 5%;

    h1{
        font-family: 'Fraunces';
        text-decoration: underline;
    }
  }

  .board{
    display: flex;
    flex-wrap: wrap;
    background: url(./img/ronaldo.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid white;
    border-radius: 25px;
    width: 540px;
    height: 540px;
    margin: 25px;

    div{
        width: 180px;
        height: 180px;
        background-image: url(./img/toilette.png);
        background-size: 75% 75%;
        box-sizing: border-box;
        border: 1px solid white;
        background-repeat: no-repeat;
        background-position: bottom center;

        img{
            width: 100px;
            height: 100px;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-drag: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    }
  }